@charset "utf-8";
h1 {
    text-align: center;
    border: double;
    background-color: #a9faff;

}
body {
    background-color: #e8fdff;
    alignment: left;

}

nav {
    text-align: center;
    background-color: #a9faff;
    border: groove;
}


footer {
    text-align: center;
}