@charset "utf-8";
h1 {
    text-align: center;
    border: outset;
    background-color: #c9e3ff;

}
body {
    background-color: #7e9eff;
    alignment: left;
    margin-left: 20px;

}

nav {
    text-align: center;
    background-color: #c9e3ff;
    border: outset;
}


footer {
    text-align: center;
}